
.container{
    position: relative;
    z-index: 1;

}

.container::before{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-image: url('/public/Making-A-Monthly-Budget-960x502.png');
    content: "";
    height: 150vh;
    width: 100%;
    opacity: 0.4;
}

.iconContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: none;
    margin-bottom: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    background-color: inherit;
    color: rgb(27, 70, 211);
    cursor: pointer;
    float: right;
}
.iconContainer:hover{
    opacity:0.4;
}
.iconContainer:focus{
    background-color: rgba(174, 0, 255, 0.464);
}
.iconContainer:active{
    background-color: rgba(174, 0, 255, 0.464);
}